@{
    ViewData["Title"] = "Home";
}

<h1>Checkpoint_9</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>

    @if (User.IsInRole("Admin"))
    {
        <a href="/Admin/Users" class="btn btn-primary">Go to Admin Panel</a>
    }
}
else
{
    <div class="mt-4">
        <a href="/Account/Login" class="btn btn-primary">Login</a>
    </div>
}