@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<h2>Регистрация</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Input.Username">Логин</label>
        <input asp-for="Input.Username" class="form-control" style="width: 280px;" />
        <span asp-validation-for="Input.Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Password">Пароль</label>
        <input asp-for="Input.Password" type="password" class="form-control" style="width: 280px;" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    <a asp-page="/Account/Login">Уже есть аккаунт?</a>
</form>