@using Checkpoint_15_2.Services
@implements IDisposable
@inject LocalizationService LocalizationService


@page "/"

<h1>@GetText("Welcome")</h1>

@code {
    protected override void OnInitialized()
    {
        LocalizationService.OnLanguageChanged += OnLanguageChanged;
    }

    private void OnLanguageChanged()
    {
        StateHasChanged();
    }

    private string GetText(string key) => LocalizationService.GetText(key);

    public void Dispose()
    {
        LocalizationService.OnLanguageChanged -= OnLanguageChanged;
    }
}
